// @include font-face("Muller", "../fonts/MullerRegular", 400, normal);

@font-face {
  font-family: raleway-c;
  src: url(./../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: outfit-c;
  src: url(./../fonts/outfit-regular.woff2);
}
